{# app/Resources/views/admin/index.html.twig #}
{% extends 'admin/index.html.twig' %}

{% block content %}
    <h1>Add user!</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}