<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1 class="d-flex justify-content-center">Welcome to Sample Admin page!</h1>
        <hr />
        <table class="table table-striped">
            <thead class="thead-default">
                <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td><a href="{{ item.href }}">Edit</a></td>
                        <td><a href="{{ item.href }}">Delete</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td>
                        <td class="d-flex justify-content-center text-danger">No user found. Add one</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr />
        <a href="app.php/user/add" class="btn btn-primary">Add a user</a>
    </div>
   </body>
</html>